<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TVA Home</a>
    <div class="" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/profiles">Fellows</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profiles/<%= user.profile._id %> ">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/auth/logout">Signout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>