<%- include('partials/html-head') %>
<%- include('partials/home-nav') %>

<main>
    <% if (user) { %>
        <h1><%= title %></h1> 
       <p>
          Click on your profile to begin!
       </p>
        <!-- put some big logo image here --> 
        <img src="" alt="timekeepers">
        <!-- a confetti  -->     
    <% } %> 
</main>

<%- include('partials/footer') %>
