<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
  >
  <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  <link rel="stylesheet" href="/stylesheets/welcome.css">
  <script defer src="/javascripts/welcome.js"></script>
  <title><%= title %></title>
</head>
<body>
<header class="p-3 bg-dark text-white">
  <nav class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 justify-content-center"
      >
        <li>
           <img 
              src="/images/tva/tva logo.jpg" 
              alt="site logo" 
              class="me-3"
           />
        </li>
        <li class="d-flex align-items-center mb-2 mb-lg-0 fs-3">
          <a href="/" class="text-light text-decoration-none">
            <button>TVA</button>
          </a>
        </li>
        <% if (user) { %>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            <a href="/profiles" class="text-light text-decoration-none">
              View Fellows
            </a>
          </li>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            <a href="/" class="text-light text-decoration-none">
              WELCOME
            </a>
          </li>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            
              <a 
                href="/profiles/<%= user.profile._id %>" 
                class="text-light text-decoration-none"
              >
                My Profile
              </a>
          </li>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            <a 
              href="/auth/logout" 
              class="text-light text-decoration-none"
            >
              Sign Out
            </a>
          </li>
      </ul>
        <% } else { %>
          <a href="/auth/google" class="siwg-link right item">
            <button type="submit" class="siwg">
              <img id="siwg-image" alt="Sign in with Google" />
            </button>
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
<main>
    <!-- <% if (user) { %>
    <h1><%= title %></h1>  -->
    <section class="welcome-slides" id="welcome-screen">
      <div>
          <!-- dynamically change on js file-->
          <p id="welcome-text">Welcome to the Timeline Variance Authority virtual database tour. As a software engineering fellow at General Assembly, you've been hand-picked to join us in managing our infinite database of timeline variants in preparation for the Multiversal War!</p>
          <div id="buttons">
          <!-- <p>This is Page 1</p> -->
          <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
          <button id="oneBtn" class="hide">1</button>
          <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
          <button id="twoBtn" class="show" >2</button>
          <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
          <button id="threeBtn" class="hide">3</button>
          <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
          <a href="/aliases"class="btn btn-primary startBtn hide" id="startBtn">Let's Get Started!</a>
          </div>
      </div>
  </section>
  <!-- put some big logo image here --> 
  <img src="" alt="timekeepers">
  <!-- a confetti  -->     
<!-- <% } %>  -->
</main>

<%- include('partials/footer') %>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>