body{
    background-color: black;
    color: rgb(14, 14, 99);
}


.card{
    /* border: solid blue 3px;  */
    margin: 0 auto;
    background-color: grey;
    
}

form {
    display: inline;
  }

  .bg-dark{
      border: solid white 1px;
      padding: 20px;
  }
.jumbotron{
    margin: 50px;
}

.lead{
    border: solid yellow 5px;
    padding: 20px;
}
.nav-item{
    color: white;
    font-size: 24px;
}

.startBtn{
    background-color: blue;
    margin-top: -50px;
}
