<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Variants</title>
</head>
<body>
    <!-- navbar -->
    <main id="variant-container">
        <section id="variant-database-text" class="typewriter">These are all the known variants that the TVA is actively tracking. They have been identified as key to helping us in the coming Multiversal War.</section>
        <section id="variant-database-grid">
            <!-- for each variant print a profile card -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap"><!-- Variant Thumbnail Image -->
                <div class="card-body">
                  <h5 class="card-title">Variant Name</h5>
                  <h5 class="card-title">Variant File Count</h5>
                  <!-- this button will send them to comic details view show comics/:id view -->
                  <a href="#" class="btn btn-primary">Details</a>
                </div>
              </div>
        </section>
    </main>  
</body>
</html>