<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variants Details</title>
</head>
<body>
    <!-- navbar -->
    <main id="variant-container">
        <section id="variant-details" class="jumbotron">
            <div class="jumbotron">
            <h1 class="display-4" id="variant-name">Variant Name</h1>
            <p class="lead" id="variant-file-info"><!-- Variant Description -->There are <!-- fileCount -->files associated with this variant. Please enter your badge id to access these files.</p>
            <input type="number" placeholder="666666">
            <!--  link to secret files database comics index view -->
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Click to access the secret files database">
                <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
              </button>
               <!--  link to go back variant database variants index view -->
               <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Click to return to variant database">
                <a class="btn btn-primary btn-lg" href="#" role="button">GO BACK</a>
              </button>
          </div>
        </section>
    </main>  
</body>
</html>