<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="welcome copy.js"></script>
    <title>Welcome Screen</title>
</head>
<body>
    <!-- Navbar -->
    <section class="welcome-slides" id="welcome-screen">
        <!-- dynamically change on js file-->
        <div>
            <p id="welcome-text">Welcome to the Timeline Variance Authority virtual database tour. As a software engineering fellow at General Assembly, you've been hand-picked to join us in managing our infinite database of timeline variants in preparation for the Multiversal War!</p>
            <div id="buttons">
            <!-- <p>This is Page 1</p> -->
            <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
            <button id="oneBtn" class="hide">1</button>
            <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
            <button id="twoBtn" class="hide">2</button>
            <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
            <button id="threeBtn" class="hide">3</button>
            <!-- ADD CLASS HIDE IN STYLESHEET! SO THIS DOESNT SHOW ON LOAD -->
            <a href="profiles/grid.html" class="btn btn-primary btn hide" id="startBtn">Let's Get Started!</a>
            </div>
        </div>
    </section>
</body>
</html>