<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/stylesheets/profiles-grid.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css">
    <title><%= title %></title>
<!-- <title>Profiles Card Grid</title> -->
<body>
    <!-- navbar -->
<main class="grid">
  <% profiles.forEach(profile => { %>
    <!-- user clicks on profile to edit profile from this view thats why this is an a link CHECK THAT THE A TAG IS STARTING IN THE RIGHT PLACE-->
   <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
  <article>
     <!-- Google Avatar goes here -->
     <% if (profile.avatar) { %><%# if an avatar exists %> 
    <img src="" alt="profile avatar">
    <% } else {%>
      <img src="" alt="placeholder avatar">
      <% } %>
    <div class="text">
      <h2 class="profile-name">profile.name</h2>
      <p class="profile-role">profile.role</p>
      <p class="profile-joined">  Joined <%= profile.createdAt.toLocaleDateString() %></p>
      <!-- not sure if i want to add things like friends or collections -->
      <button>PLACEHOLDER</button>
    </div>
  </article>
</a>
  <% }) %>
</main>
</body>
</html>    