<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Secret Files</title>
</head>
<body>
    <!-- navbar -->
    <main id="comics-container">
        <section id="comic-database-text" class="typewriter">These are all the secret files the TVA has compiled on the variants. They have been identified as key to helping us track more variants connected to them.</section>
        <section id="comic-database-grid">
            <!-- for each comic print a profile card -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap"><!-- comic Thumbnail Image -->
                <div class="card-body">
                    <h3 class="card-title">Comic Title</h3>
                  <!-- this button will send them to comic details view show comics/:id view -->
                  <a href="#" class="btn btn-primary">Details</a>
                </div>
              </div>
        </section>
    </main>  
</body>
</html>