<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Files Details</title>
</head>
<body>
    <!-- navbar -->
    <main id="comic-container">
        <section id="comic-details-text" class="typewriter">These are all the current files we have on this variant. The TVA has been secretly releasing information to the public under the guise that these are simply fictional depictions of rumoured heros and villains, so as to not disturb the collective psyche about not only the existence of these super-beings, but also the existence of multiple existences across timelines.</section>
        <section id="comic-collection-grid">
            <!-- for each comic print a profile card limit 5 -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">Thumbnail Image
                <div class="card-body">
                  <h3 class="card-title">Comic Title</h3>
                  <h5 class="card-text">Comic Format</h5>
                  <h5 class="card-text">Comic Page Count</h5>
                  <!-- maybe add description if I can get them all 
                  <h5 class="card-text">Comic Description</h5>-->
                 <!--  link to go back variant details variant :id show view -->
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Click to return to variant details">
                <a class="btn btn-primary btn-lg" href="#" role="button">GO BACK</a>
              </button>
                </div>
              </div>
        </section>
    </main>  
</body>
</html>